body {
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: 'Lucida Sans';
    margin: 0;
    padding: 0;
  }
  form {
    padding: 10px;
    background: #f0f0f0;
  }
  input {
    margin: 5px 0;
    padding: 5px;
    width: 300px;
  }
  button {
    padding: 8px 16px;
  }
  #map {
    height: 80vh;
    width: 100%;
  }
  
=======
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
}
>>>>>>> 8ef454d (more button)
=======
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
}
>>>>>>> b97ae7d3d771b3f6ed9e9659b7682371ba316222
